<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Space Dawgz!</title>
</head>
<body style='background-image: url(https://i.imgur.com/pnNiUmh.jpg); background-size: cover; background-position: center;}'>
  <div style='background: rgba(255,255,255,.6); padding: 10px; font-size: 2rem; margin: 0 auto; width: 800px; text-align:center;'>
    <p>get ready for some <strong>doggy spacetime</strong></p>
    <button style='background:#d00; color:#fff; padding: 5px 8px; font-size: 2rem;'>Launch</button>
  </div>
</body>
</html>